fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
groq==0.15.0
python-dotenv==1.0.1
numpy==1.26.4
faiss-cpu==1.9.0
sentence-transformers==3.3.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu